.app {
    background-color: #f1f2f5;
}

.app__body {
    display: flex;
}

#feedid{
    overflow: auto;
    margin-left: 30%;
}

.profileclass{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 100px;
    padding: 150px;
    border: 1px solid white;
    box-sizing: border-box;
    background-color:white;
    margin-left: 100px;    
}

.curricull
