.app {
    background-color: #f1f2f5;
}

.app__body {
    display: flex;
}

#feedid{
    overflow: auto;
    margin-left: 30%;
}

.profileclass{
    overflow: auto;
    margin-left: 30%;
}

.curriculam{
    overflow: auto;
    margin-left: 30%;

}
