.app {
    background-color: #f1f2f5;
}

.app__body {
    display: flex;
}

#feedid{
    overflow: auto;
    margin-left: 30%;
}

.profileclass{
    display: flex;
    justify-content: center;
    width: 1200px;
    height: 500px;
    padding: 50px;
   
  
    
    
}
