#title {
    text-align: center;
    font-family: arial, sans-serif;
    padding-bottom:20px;
    padding-top: 20px;
  }

  #infotitle{
     
  }

  #info{
      color:#2e81f4
  }

  .academic_information{
    padding:20px 0px 0px 50px
  }

  .curriculaminfo{
      padding-top: 20px;
      font-weight: 300;
  }
  
  #students {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
  #students td, #students th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #students tr:nth-child(even){background-color: #f2f2f2;}
  
  #students tr:hover {background-color: #ddd;}
  
  #students th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #2e81f4;
    color: white;
  }