

.teachercontainer{
    padding: 30px;
    display: inline-block;
}

.main-box{
    width: 300px;
    height: 400px;
    box-shadow: 2px 4px 2px 4px rgb(161, 155, 155);
    border-radius: 10px;
    text-align: center;
    
     
    
}

.big-circle{
    width: 150px;
    height: 150px;
    border: 10px solid #2e81f4;
    border-radius: 50%;
    margin: auto;
    position: relative;
}